* {
  margin: 0;
  padding: 0;
  
}
body {
  font-family: Arial, Helvetica,sans-serif;
  background: rgb(242, 242, 242) ;
}


.marca {
  padding: 10px;
  font-family:verdana,Arial, Helvetica, sans-serif;
  color: #fff;
}
.fechado{
  display:flex;
  text-align: right;
}

.menu_sobre_nos {
 text-align: left;
}

.shopping{
  display: flex;
  animation: bounce 0.6s;
  animation-fill-mode: forwards;
  margin-right: 5%;

  cursor: pointer;
  position: fixed;
  top:4%;
  right:0%;


}

.fundo {
  background:rgb(233, 233, 232) url(img/fundo3.png) no-repeat;
  padding:10px ;
  height: 30vh;
  display: flex;
  align-items: center;
  border: 1px solid red;
  border-radius: 5px;
  width: 100%;
 }

/* Estilos para dispositivos móveis (telas menores ou iguais a 767px) */
@media screen and (max-width: 767px) {
  .fundo {
    text-align: center; /* Centralizar o conteúdo no meio da tela */
    position: relative; /* Define a posição relativa para o container "fundo" */
    background: rgb(233, 233, 232) url(img/fundo3.png) no-repeat;
    padding: 10px;
    height: 30vh;
    display: flex;
    align-items: center;
    border: 1px solid red;
    border-radius: 5px;
    width: 100%;
  }

  .img {
    width: 80px; /* Reduzir o tamanho da imagem */
    height: 80px;
    margin-bottom: 10px;
  }

  .marca {
    padding: 10px;
    font-family: verdana, Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 24px; /* Tamanho maior para o título da marca */
  }

  .menu-openner {
    font-size: 32px; /* Tamanho maior para o ícone do carrinho */
    cursor: pointer;
  }


}
 .modal_dois_sabores_card{
  background-color: #ffffff;
  width: 100%;
  height: auto;
  display: inline-flex;
  flex-wrap: wrap;
  border-radius: 5px;
 
  
 }
 .pizzas_tradi_dois_sabores_grandes{
  font-size: 30px;
  float: left;
  background-color: #e2e2e2;
 }
 .tradicionais_Pizza {
  border: 1px solid black;
 }
 
 .sabores-options {
  margin: 6px;
  height: auto;
  padding: 10px;
  line-height: 25px;
  border: 4px solid rgb(223, 223, 223);
  width: 90%;
  display: block;
  background-color: #f3eded;
 }


 /* Classe CSS para animar o número do carrinho */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* Classe CSS para estilizar o número do carrinho */
.quantity {

  text-align: center;

  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
  border-radius: 50%;
  animation: bounce 0.6s;
  animation-fill-mode: forwards;
  font-size: 20px;
  right: 55%;
  position: fixed;
  width: 20%;
  
   
}


 /*CÓDIGO DO CARRINHO DE COMPRAS*/
 /* Ajuste o tamanho do modal quando a tela for muito pequena */
@media screen and (max-height: 600px) {
  .card_carrinho_compras {
    max-height: 100%;
    width: 100%;
  }
}
 .card_carrinho_compras{
  position: fixed;
  top:0;
  left: 100%;
  width: 400px;
  background-color: #000000;
  height: 100vh;
  transition: 0.5s;
  z-index: 9999; 
  overflow: hidden;
  max-height: 100vh;
  overflow-y: auto;
}

.active .card_carrinho_compras{
  left: calc(100% - 400px);
}
.active .container{
 transform: translateX(-200px);
}
.card_carrinho_compras h1{
  color: #E8BC0E;
  font-weight: 100;
  margin: 0;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}
.card_carrinho_compras .checkOut{
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
.card_carrinho_compras .checkOut div{
  background-color: #E8BC0E;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.closeShopping{
  width: 100%;
  height: 50px;
}
.finalizar_pedido_carrinho{
background-color: red;
text-align: center;
height: 50px;
}
.card_carrinho_compras .checkOut div:nth-child(2){
  background-color: #000000;
  color: #fff;
}

.listCard li{
 
  color: #fff;
  row-gap: 5px;
  padding: 20px;
  display: block;
  border: 1px solid red;
}
.listCard li div{
 
  justify-content: center;
  align-items: center;
  margin: 5px;
  line-height: 25px;
 
}
.listCard li img{
  width: 60%;
  border-radius: 5px;
}
.listCard li button{
  background-color: #ff0000;
  color: #000;
  border: 2px solid rgb(168, 51, 51);
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.listCard .count{
  margin: 0 10px;
}

.observacoes {
 
  margin: 9px ;
  color: white;
 }
 .menu-openner {
  margin-right: 1%;
  font-size: 28px;
  background-color:transparent;
  padding: 5px 20px;
  cursor: pointer;
  top:4%;
  right:0;
 }






 /*FINAL DO CÓDIGO DE CARRINHO DE COMPRAS*/

 /* Estilos para o modal de carrinho */
.cart-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0; /* Alterado para abrir à direita */
  width: 100%; /* Alterado para ocupar a largura total */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}


.cart-modal-content {
  width: 400px;
  max-width: 50%; /* Alterado para ocupar metade da tela */
  margin: 100px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cart-modal-content h2 {
  margin-top: 0;
}



.cart-items {
  margin-bottom: 20px;
}

.cart-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.close-cart-modal {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}










 .listas {
 padding: 18px;
 display: flex;
 
 }

.pesquisar {
  padding: 10px;
  display: flex;
  border-radius: 10px;
}
.pesquisarr{
  padding: 10px;
  display: flex;
  border-radius: 10px;
  background-color: #dab213;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#search-bar{
  width: 80%;
  border-radius: 8px;
}
 .container_search {
  width: 100%;
 }
.img {
  float: left;
  border-radius: 100%;
  padding: 19px;
}



.inf{
  border: none;
  padding: 10px 20px;
  color: #000000;
  cursor: pointer; 
  font-family: "Sofia", sans-serif;
  font-size: 20px;
  text-shadow: 3px 3px 3px #ababab;
  float: right;
 
  
}

.menu-container {

  overflow-x: auto;
}


.menu {
  background: rgb(242, 242, 242);
  padding: 18px;
  display: flex;
  width: 100%;
  gap: 7px;
 
}
.menu a {
  padding: 10px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}

.menu a:hover{
  background-color: #dfd5d5;
  border-radius: 10px;
}


.menu-openner span {
  margin-right:10px;
  margin-top: 6px;
}

.menu-closer {
  width:32px;
  height:32px;
  display:none;
  font-size: 30px;
}

a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  width: 100%;
  background-color: #f1f1f1;
 

  

}

.adicionais_pizza_dois_sabores {
  border: 3px solid rgb(214, 214, 214);
  line-height: 30px;
  padding: 15px;
  display: block;
  flex-wrap: wrap;
  margin: 30px;
}
.bordas_pizza_dois_sabores{
  border: 3px solid rgb(214, 214, 214);
  line-height: 30px;
  padding: 15px;
  display: block;
  flex-wrap: wrap;
  margin: 30px;
}
.cancelar_modal_pizza_dois_sabores{
  background-color: #dab213;
  width: 50%;
}
.cancelar_modal_pizza_dois_sabores:hover{
  background-color: #dbc468;
}
.card_carrinho_dois_sabores{
  background-color: green;
  width: 50%;
}
.card_carrinho_dois_sabores:hover{
  background-color: rgb(6, 163, 6);
}
.botoes_do_modal_pizza_dois_sabores{
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8%;
}

.card {
  border-radius: 8px;
  margin: 5px; 
  width:15% ;
  max-height: 400px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 767px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    flex-basis: calc(40% - 3px); /* Cada card ocupará 50% da largura da tela com 20px de espaçamento entre eles */
    margin: 10px; /* Espaçamento entre os cards (opcional) */
    font-size: 16px; /* Tamanho de fonte base do card */
    height: auto;
  }

  /* Restante do código permanece o mesmo */
}


.card img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.pizza-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.pizza-description {
  margin-bottom: 10px;
}

.pizza-price {
  font-weight: bold;
  margin-bottom: 10px;
}

.fazer-pedido{
  background-color: #dab213;
  cursor: pointer;
  height:13%;
  padding: 10px;
  width: 70%;
  border-radius: 5px;
  color: #000;
  display: inline-block;
  cursor: pointer;
  margin-top: auto;

}
.fazer-pedido:hover {
  background-color: #dbc468;
}




.div_div {
  padding: 10px;
  width: 100%;
  background-color: #f1f1f1;
}





.sidebar {
  position: fixed;
  top: 0;
  right: -200px; /* Altera para right */
  width: 200px;
  height: 100%;
  background-color: #f1f1f1;
  overflow: hidden;
  z-index: 1;
  padding-top: 40px;
 
}
.sidebar p {
  padding: 8px 8px 8px 32px;
  font-size: 15px;
  display: block;
}
.sidebar .close-btn {
  position: absolute;
  top: 10px;
  right: 120px;
  font-size: 20px;
  margin-right: 50px;
  cursor: pointer;
}


.modal {
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  right:0;
  background-color:rgba(255, 255, 255, 0.5);
  display:none;
  transition: all ease .5s;
  justify-content: center;
  align-items: center;
  max-width: 100%; /* Defina uma largura máxima para o modal */
  margin: 0 auto;
  padding: 20px; 
  overflow: auto;
}
/* Estilos para dispositivos maiores (telas maiores que 767px) */
@media screen and (min-width: 768px) {
  .modal {
    width: 100%; /* Defina uma largura máxima para o modal */
    padding: 5px; /* Adicionar espaçamento interno ao modal */
  }

  .modal h1 {
    font-size: 3px; /* Tamanho de fonte para os títulos */
    margin-bottom: 10px; /* Espaçamento inferior */
  }

  .modal_dois_sabores_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sabores-options {
    width: 100%; /* Ocupar metade da largura do modal */
    margin-bottom: 20px; /* Espaçamento inferior entre as opções */
  }
 
}


.modal-content {
  background-color: #fefefe;
  padding: 5px;
  width: 40%;
  animation: slideIn 0.5s;
  justify-content: space-between;
  border-radius:10px;
  box-shadow:0px 0px 15px #999;
  display:flex;
  flex-wrap: wrap;

}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 767px) {
  .modal-content {
    width: 100%; /* Reduzir a largura do conteúdo do modal */
    max-width: 100%; /* Limitar a largura máxima */
    background-color: #ffffff; /* Fundo branco para o conteúdo */
    border-radius: 10px; /* Borda arredondada */
    overflow-y: auto; /* Adicionar rolagem vertical se o conteúdo for muito longo */
  }

  .modal-image {
    max-width: 150px; /* Fazer a imagem ocupar toda a largura */

  }

  .left-column {
    width: 100%;
    padding: 0 10px;
    font-size: 15px;
    line-height: normal;
  }
  .right-column {
    width: 100%;
    padding: 0 10px;
    margin-top: -50px; /* Ajuste esse valor conforme necessário */
    justify-content: s;
   border: 1px solid red;
  }

  .add_to_cart, .cancelar {
    width: 100%; /* Fazer os botões ocuparem toda a largura */
  }

  .bordas_pizza {
    font-size: 15px;
  }

  .adicionais_pizza {
  font-size: 15px;
  }
}


@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Estilos anteriores... */


.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 50%;
 
}

.right-column {
  flex: 1;
  padding-left: 20px;
  display:flex;
  width: 50%;
 
  
}




.modal-image {
  width:50%;
  height:50%;
  border-radius: 30px;
  
 
}
.add_to_cart:hover {
  background-color:#E8BC0E;
}
.add_to_cart {
    background-color: #dab213;
    cursor: pointer;
    height: 40px;
    width: 100%;
    padding: 5px;
    border-radius:10px;
    color:#000000;
    cursor:pointer;
  
  }
  
.cancelar:hover{
  background-color: rgb(213, 58, 58);
}
.cancelar { 
  background-color: rgb(208, 22, 22);
    cursor: pointer;
    height: 40px;
    padding: 10px;
    width: 100%;
    border-radius:10px;
    color:#000000;
    display:inline-block;
    cursor:pointer;
    margin-right:40px;
}
.input_radio {
  border: 1px solid red;
  }


.sizes{
  flex:1;
  font-family:'Hepta Slab', Helvetica, Arial;
  padding-bottom:50px;
  overflow: hidden;
}

.grande-media{
  padding:10px 15px;
  color:#000;
  font-size:13px;
  font-weight: bold;
  cursor:pointer;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
}
.grande-media:hover{
  background-color:#d3d1d1;
}

.size-options {
  display: flex;
}

.size-options h4 {
  margin-right: 10px;
}




.preco {
  margin-left: 10px;
}

.adicionais_pizza {
  line-height: 25px;
 
  width: 50%;
}

.bordas_pizza {
 
  line-height: 25px;
  width: 50%;
}



@media screen and (max-width: 768px){
.container {
  width: 100px;
  flex-direction: column;
}
}



.right-column_burguer{
  line-height: 25px;
  padding: 15px;
}






.add_to_card_dos_burguer_style {
  display: flex;
}





































































  

/* Estilos para o modal */
.abrir_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-contentt {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

#inputEndereco {
  display: none;
}




.card_bebidas {
  width: 20%;
  background-color: 1px solid red;
}



